/* Reset */
*,
:after,
:before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

:hover {
	outline: 0;
}

iframe,
img {
	border: 0;
}

dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

/* General */
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
}
p {
	margin-bottom: 20px;
}
dl dt {
	font-weight: 600;
}

#top {
	background: #2e1414;
	color: white;
	padding: 150px 50px;
}
h1 {
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0;
	text-align: left;
	border-left: 1px solid white;
	padding-left: 30px;
	font-weight: 300;
	line-height: 1.1;
}
h1 span {
	display: block;
	font-size: 35px;
}
p {
	margin-bottom: 1em;
	text-align: center;
}
#portfolio {
	max-width: 1440px;
	margin: 50px auto;
	padding: 0 50px;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 30px;
}
.grid img {
	width: 100%;
	height: auto;
}

card h3 {
	font-size: 20px;
	font-weight: 400;
	text-align: left;
}
card p {
	text-align: left;
	font-size: 12px;
}
card button {
	background: #2e1414;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #2e1414;
	padding: 6px 12px;
	transition: all 0.3s ease;
	cursor: pointer;
}
card button:hover {
	background: white;
	color: #2e1414;
}
